@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');

.App {
  text-align: center;
  font-family: 'Dancing Script', cursive;
}

@keyframes popIn {
  0% {
    transform: scale(0);
  }

  60% {
    transform: scale(1.05);
  }

  80% {
    transform: scale(0.95);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes popIns {
  0% {
    transform: scale(0);
  }

  60% {
    transform: scale(1.05);
  }

  80% {
    transform: scale(0.95);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes slideUp {
  0% {
    font-size: "20px";
    transform: translateY(100px);
  }

  100% {
    font-size: "30px";
    transform: translateY(0);
  }
}

@keyframes slideUps {
  0% {
    font-size: "20px";
    transform: translateY(100px);
  }

  100% {
    font-size: "30px";
    transform: translateY(0);
  }
}

@keyframes slideUpss {
  0% {
    font-size: "30px";
    opacity: 1;
    transform: translateY(100px);
  }

  100% {
    opacity: 0.1;
    font-size: "20px";
    transform: translateY(0);
  }
}

@keyframes slideUpsss {
  0% {
    font-size: "30px";
    opacity: 1;
    transform: translateY(100px);
  }

  100% {
    opacity: 0.1;
    font-size: "20px";
    transform: translateY(0);
  }
}

.slide-up {
  animation: slideUp 0.75s ease both;
}

.slide-ups {
  animation: slideUps 0.75s ease both;
}

.slide-up- {
  animation: slideUpss 0.75s ease both;
}

.slide-ups- {
  animation: slideUpsss 0.75s ease both;
}

.pop-in {
  animation: popIn 1s ease both;
}

.pop-ins {
  animation: popIns 1s ease both;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  color: white;
  overflow: hidden;
}

.date-time-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  min-width: 100%;
  padding: 10px;
  color: green;
  opacity: 0.3;

}

.wish {
  font-size: 50px;
  font-weight: bold;
  line-height: 50px;
  margin: 0;
  padding: 0;
  color: grey;
}

.timer {
  font-size: 50px;
  font-weight: bold;
  line-height: 50px;
  margin: 0;
  padding: 0;
  min-width: 210px;
  text-align: left;
}

.date-time {
  font-size: 50px;
  font-weight: bold;
  line-height: 50px;
  margin: 0;
  padding: 0;

}

.text-wrapper {
  max-width: 1000px;
}

.text-preview {
  opacity: 0.1;
  font-size: 25px;

}

.type-text-view {
  border: 1px solid transparent;
  position: relative;
  padding: 10px;
  font-size: 40px;
  font-weight: bold;
  text-align: left
}

.highligth-text {
  color: red;
  position: absolute;
  z-index: 1;
  text-align: left;
}

input[type="range"] {
  opacity: .2;
  transition: all .5s;
}

input[type="range"]:hover {
  opacity: 1;
  transition: all .5s;
}